$auth-modal-bg: #250e36;
$auth-modal-border: #4b2964;
$auth-modal-bg-after: #000000;

$default-bg-dark: #0c0b1e;
$default-bg-light: #2a0f3b;

$primary-text-color: #ffffff;
$secondary-text-color: #000000;

$input-default-bg: #ffffff;
$input-default-border: #cbd5e1;
$input-default-text: rgba(0, 0, 0, 0.5);
$input-focus-bg: #ffffff;
$input-focus-border: #cbd5e1;
$input-disabled-bg: #ffffff;
$input-disabled-border: rgba(0, 0, 0, 0.5);
$input-error-bg: #ffffff;
$input-error-border: #ff0000;
$input-error-text: #ff0000;
