$auth-modal-bg: #250E36;
$auth-modal-border: #4B2964;
$auth-modal-bg-after: #000000;

$default-bg-dark: #0C0B1E;
$default-bg-light: #2A0F3B;

$button-default-bg: #643F82;
$button-default-border: #9159BE;

$button-hover-bg: #8151A8;
$button-hover-border: #AB69E2;
$button-active-bg: #F6A200;
$button-active-border: #D77400;
$button-submit-default-bg: #37AC00;
$button-submit-default-border: #55F30A;
$button-submit-hover-bg: #41CA00;
$button-submit-hover-border: #7DFF3F;
$button-submit-disabled-bg: #3F5A35;
$button-submit-disabled-border: #486F38;
$primary-text-color: #FFFFFF;
$secondary-text-color: #000000;

$input-default-bg: #FFFFFF;
$input-default-border: #CBD5E1;
$input-default-text: rgba(0, 0, 0, 0.5);
$input-focus-bg: #FFFFFF;
$input-focus-border: #CBD5E1;
$input-disabled-bg: #FFFFFF;
$input-disabled-border: rgba(0, 0, 0, 0.5);
$input-error-bg: #FFFFFF;
$input-error-border: #FF0000;
$input-error-text: #FF0000;

$select-default-bg: #FFFFFF;
$select-focus-border: #3893FF;
$select-hover-bg: #F7F9FA;
$select-button-color: #94A3B8;

$dice-container-border: #42165D;
$dice-bg: #FFFFFF;
$point-bg: #000000;

$border-radius: 5px;
$duration: 2s;
$face-size: 92px;
$point-size: 15px;
$point-position: 9.2px;
$face-length: 92px;

